.wrapper {
  float: left;
  margin-right: 10px;
}

.checkbox {
    display: none;
}

.checkbox:checked + .label:after {
    display: block;
}

.label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 1px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #dcc7f9;
}

.label:after {
    position: absolute;
    width: 10px;
    height: 8px;
    top: -2px;
    left: 3px;
    content: url("/images/checkmark.png");
    display: none;
}
