.wrapper {
  float: left;
  margin-right: 10px;
}

.checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.checkbox:focus + .label {
  outline: 1px solid -webkit-focus-ring-color;
}

.label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background-color: #dcc7f9;
}
