.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  width: 24px !important;
  height: 25px !important;
  border-radius: 50% !important;
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  min-height: auto !important;
}

.button:focus {
  outline: 1px solid -webkit-focus-ring-color !important;
}
