.Number {
  max-width: 100% !important;
  border: none !important;
  color: #27282a !important;
  font-family: Roboto, sans-serif !important;
  font-size: 32px !important;
  font-weight: 400 !important;
  line-height: 39px !important;
  letter-spacing: -0.3px !important;
  padding: 0 !important;
}

.Number::-webkit-inner-spin-button,
.Number::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
}
