.Number {
  max-width: 100%;
  border: none;
  color: #27282a;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: -0.3px;
}

.Number::-webkit-inner-spin-button,
.Number::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.Number:focus {

}
