.Grid {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  width: 100%;
  overflow: hidden;
}
