.popup {
    font-family: Roboto, serif;
    width: 420px;
    height: 200px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 25px 35px;

    display: grid;
    grid-template-columns: repeat(3, 80px) 1px 80px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        ". . . line fluid"
        ". . . line maxwidth"
    ;

    grid-gap: 24px;
}

.popup__column_max_width {
    grid-area: maxwidth;
}

.popup__column_fluid {
    grid-area: fluid;
}

.popup__column_line {
    grid-area: line;
    background-color: #292b30;
}

.popup label {
    color: #292b30;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 13px;
}
