.grid {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    top: 250px;
}

/*Резиновый*/
.fluid {
    width: 100%;
}


