.content {
  font-family: Roboto, serif;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
  padding: 25px 35px;

  display: grid;
  grid-template-columns: repeat(3, 80px) 1px 90px 95px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: ". . . line fluid preset" ". . . line maxwidth verticalRhythm";

  grid-gap: 24px;
}

.max-width {
  grid-area: maxwidth;
}

.fluid {
  grid-area: fluid;
}

.line {
  grid-area: line;
  background-color: #292b30;
}

.preset {
  grid-area: preset;
}

.label {
  user-select: none;
  color: #292b30;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 13px;
  cursor: pointer;
  display: block;
}

.vertical-rhythm {
  grid-area: verticalRhythm;
}